@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Cormorant+Upright:wght@300&family=Jost:wght@400;800&family=Lato:ital@1&family=Playfair+Display:ital,wght@0,400;0,800;1,400&family=Roboto+Slab:wght@300&family=Roboto:ital,wght@0,300;1,300&display=swap');

@font-face {
    font-family: 'Intro';
    src: local('Intro Bold'), local('Intro-Bold'),
        url('fonts/Intro-Bold.woff2') format('woff2'),
        url('fonts/Intro-Bold.woff') format('woff'),
        url('fonts/Intro-Bold.ttf') format('truetype');
    font-weight: 950;
    font-style: normal;
}

body{
    width: 1580px;
    margin: auto;
}
.header {
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.header__logo {
    margin: 5%;
}

.header__btntrash {
    cursor: pointer;
    font-family: 'Intro';
    margin: 5%;
    border-radius: 100px;
    width: 6%;
    height: 20%;
    color: #FFFFFF;
    background-color: rgba(82, 34, 208, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 14px;
    gap: 5px;
    font-size: 0.9em;

}

.mainly {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 20% 80%;
}

.main {
    display: flex;
    width: 97%;
    margin: 2%;


}

.main__h1 {
    grid-row: 1;
    grid-column: 2;
    align-self: end;
    font-family: 'Intro';
    font-size: 3vw;
    line-height: 120%;
    text-transform: uppercase;

}

.main__text {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 160%;
}

.best {
    grid-column: 2;
    grid-row: 2;
    row-gap: 0px;
    column-gap: 0px;
}

.main__user {
    width: 1096.34px;
    height: 724.31px;
}

.main__btnbuy {
    height: 38px;
    font-size: 35px;
    background-color: #5222D0;
    color: white;
    border-radius: 100px;
    cursor: pointer;
    font-family: 'Intro';
    height: 25%;
    width: 35%;
    border-radius: 100px;
}

.btnmain {
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    
}

.main__btncard {
    height: 35%;
    width: 15%;
    border-radius: 0px;
}

.title {
    display: flex;
    width: 30%;
    justify-content: space-between;
    margin-left: 150px;
}

.title__menu {

    text-decoration: none;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 160%;
    color: #5222D0;
}

.vozmozhnosti {
    margin-left: 3%;
}

.vozmozhnosti_h2 {
    margin-left: 10%;
    font-family: 'Intro ';
    font-style: normal;
    font-size: 3vw;
    line-height: 120%;
    text-transform: uppercase;

}

.black-nav {
    color: black;
    margin-top: 10%;
    margin-bottom: 10%;
}

.all-vozmozhnosti {
    display: grid;
    justify-content: center;
    align-items: center;
}

.all-vozmozhnosti__columns-voz {
    margin-left: 4%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 1fr;
    row-gap: 2px;
    column-gap: 5%;
}

.h-column {
    font-family: 'Intro';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    font-weight: bold;
    text-transform: uppercase;
}

.picture {
    width: 365px;
    height: 270px;
}

.mail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #EC615B;
    width: 365px;
    height: 233px;
    color: white;
}

.mailrow {
    margin-left: 15px;
    width: 80%;
    height: 15%;
}

.news {
    margin-left: 15px;
}

.btnfollow {
    width: 35%;
    text-align: center;
    height: 15%;

}